@charset "UTF-8";
.p1 {
  float: left;
  width: 80%;
}
.p2 {
  float: right;
  width: 20%;
}
.pager {
  float: left;
}
.container {
  margin-left: 30%;	
}
#list {
  margin: 20px;	
}
.col-sm-2 {
  padding: 0px;
}
#send {
  margin-left: 500px;
}